# LeetCode Go

## Algorithms

| ID | Solution |
| :-- | :-- |
{{- range .Algorithms }}
| {{ .Id }} | [{{ .Name }}](https://github.com/cqroot/leetcode-go/blob/main/Algorithms/{{ .Dir }}) |
{{- end }}

## Database

| ID | Solution |
| :-- | :-- |
{{- range .Database }}
| {{ .Id }} | [{{ .Name }}](https://github.com/cqroot/leetcode-go/blob/main/Algorithms/{{ .Dir }}) |
{{- end }}

